<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package
    Name="OrangLauncher"
    Manufacturer="Orang Studio"
    Version="$(var.ProductVersion)"
    Language="1033"
    UpgradeCode="2cf6f0f4-bdef-4b45-a3a9-a14d95b0d6b0"
    Scope="perMachine"
    InstallerVersion="500">
    <MajorUpgrade
      DowngradeErrorMessage="A newer version of [ProductName] is already installed. Please uninstall it first." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="OrangLauncherIcon.ico" SourceFile="../build/Other/images/orange.ico" />
    <Property Id="ARPPRODUCTICON" Value="OrangLauncherIcon.ico" />
    <Property Id="ARPHELPLINK"    Value="https://github.com/Orang-Studio/OrangLaunch" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf"  Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp"    Value="assets\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp"    Value="assets\dialog.bmp" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT"
              Value="OrangLauncher on GitHub: https://github.com/Orang-Studio/OrangLaunch" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX"     Value="1" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch OrangLauncher!" />
    <Property Id="WixShellExecTarget" Value="[INSTALLFOLDER]OrangLauncher.exe" />
    <CustomAction
      Id="LaunchApplication"
      BinaryRef="Wix4UtilCA_X86"
      DllEntry="WixShellExec"
      Impersonate="yes"
      Return="ignore" />
    <UI>
      <Publish
        Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="LaunchApplication"
        Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed" />
    </UI>
    <Property Id="WV2INSTALLED">
      <RegistrySearch
        Id="WV2RegistrySearch"
        Root="HKLM"
        Key="SOFTWARE\WOW6432Node\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}"
        Name="pv"
        Type="raw" />
    </Property>
    <CustomAction
      Id="InstallWV2"
      Directory="INSTALLFOLDER"
      ExeCommand="[INSTALLFOLDER]MicrosoftEdgeWebview2Setup.exe /silent /install"
      Execute="deferred"
      Return="ignore"
      Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="InstallWV2" After="InstallFiles" Condition="NOT WV2INSTALLED" />
    </InstallExecuteSequence>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="OrangLauncher">
        <Directory Id="WEBVIEW2DIR" Name="OrangLauncher.exe.WebView2" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="OrangStartMenuFolder" Name="OrangLauncher" />
    </StandardDirectory>
    <Feature Id="ProductFeature" Title="OrangLauncher" Level="1">
      <ComponentGroupRef Id="AppFiles"                 />
      <ComponentRef      Id="CmpDesktopShortcut"        />
      <ComponentRef      Id="CmpStartMenuShortcut"      />
      <ComponentRef      Id="CmpWebView2DirPermissions" />
    </Feature>
  </Package>
  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="../build/**" />
      <Files Include="assets/MicrosoftEdgeWebview2Setup.exe" />
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <StandardDirectory Id="DesktopFolder">
      <Component Id="CmpDesktopShortcut" Guid="*">
        <Shortcut
          Id="DesktopShortcut"
          Name="OrangLauncher"
          Description="OrangLauncher - Minecraft Launcher"
          Target="[INSTALLFOLDER]OrangLauncher.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="OrangLauncherIcon.ico"
          IconIndex="0" />
        <RegistryValue
          Root="HKCU"
          Key="Software\OrangLauncher"
          Name="DesktopShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </StandardDirectory>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="OrangStartMenuFolder">
      <Component Id="CmpStartMenuShortcut" Guid="*">
        <Shortcut
          Id="StartMenuShortcut"
          Name="OrangLauncher"
          Description="OrangLauncher - Minecraft Launcher"
          Target="[INSTALLFOLDER]OrangLauncher.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="OrangLauncherIcon.ico"
          IconIndex="0" />
        <RemoveFolder
          Id="RemoveOrangStartMenuFolder"
          Directory="OrangStartMenuFolder"
          On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\OrangLauncher"
          Name="StartMenuShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <Component Id="CmpWebView2DirPermissions" Directory="WEBVIEW2DIR" Guid="7B3E9F2A-4C1D-4A8E-B6F5-0D2E8A3C7F91">
      <CreateFolder>
        <util:PermissionEx User="Users" GenericAll="yes" />
      </CreateFolder>
    </Component>
  </Fragment>
</Wix>
